<div class="Wrapper-Example">
    <div class="JS-Vertical-Align"
         data-min-width="1024"
         data-max-width="1400"
         data-shift-selector=".Menu">Content
    </div>
</div>

<div class="Menu"></div>

<style>
    .Menu
    {
        height: 40px;
    }

    .Wrapper-Example
    {
        height:           400px;
        background-color: #f1f1f1;
    }

    .JS-Vertical-Align
    {
        background-color: #ccc;
    }
</style>