<h1>Tabs</h1>
<p>Simple examlpe of tabs.</p>
<pre><code class="language-html">&lt;div class="JS-Tabs"&gt;
    &lt;div class="JS-Tabs-Navigation"&gt;
        &lt;a class="Active" href='#Tab-1'&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
        &lt;a href='#Tab-2'&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
        &lt;a href='#Tab-3'&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
    &lt;/div&gt;
    &lt;ul class="JS-Tabs-Content"&gt;
        &lt;li id='Tab-1'&gt;Content from tab "One"!&lt;/li&gt;
        &lt;li id='Tab-2'&gt;Content from tab "Two"!&lt;/li&gt;
        &lt;li id='Tab-3'&gt;Content from tab "Three"!&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt
</code></pre>


<div class="JS-Tabs">
    <div class="JS-Tabs-Navigation">
        <a class="Active" href='#Tab-1'>Tab 1</a></li>
        <a href='#Tab-2'>Tab 2</a></li>
        <a href='#Tab-3'>Tab 3</a></li>
    </div>

    <ul class="JS-Tabs-Content">
        <li id='Tab-1'>Content from tab "One"!</li>
        <li id='Tab-2'>Content from tab "Two"!</li>
        <li id='Tab-3'>Content from tab "Three"!</li>
    </ul>
</div>

<style>
    .JS-Tabs a
    {
        display:         inline-block;
        background:      #eee;
        padding:         10px 20px;
        text-decoration: none;
    }

    .JS-Tabs a.Active
    {
        background-color: #3498db;
        color:            white;
    }

    .JS-Tabs-Content
    {
        margin-top: 20px;
        padding:    30px 10px;
        background: #fafafa;
        border-bottom: 5px solid #eee;
    }
</style>
