<h1>Modal</h1>

<p>Plugin will show existing model at the page..</p>

<p><button class="JS-Modal-Button" href="#Modal-1">Show modal window</button></p>

<div class="JS-Modal-Blackout" id='Modal-1'>
    <div class='JS-Modal'>
        <div class='JS-Modal-Close'>×</div>
        <h1>Window is opened!</h1>
    </div>
</div>

<pre><code class="language-html">&lt;div class="JS-Modal-Blackout" id='Modal-1'&gt;
    &lt;div class='JS-Modal'&gt;
        &lt;div class='JS-Modal-Close'&gt;×&lt;/div&gt;
        &lt;h2&gt;Window is opened!&lt;/h2&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
