<div class="JS-Carousel">
    <div class="JS-Carousel-Arrow-Left">Arrow Left</div>

    <div class="JS-Carousel-Block">
        <ul class="JS-Carousel-Data">
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
        </ul>

        <ul class="JS-Carousel-Area">

        </ul>
    </div>

    <div class="JS-Carousel-Arrow-Right">Arrow Right</div>

</div>