*
{
	box-sizing : border-box;
	padding    : 0;
	margin     : 0;
}

body
{
	margin-top : 50px;
}

.JS-Carousel-Block
{
	width      : 100%;
	height     : 40px;
	position   : relative;
	border     : 1px solid black;
	margin     : 0 auto;
	text-align : center;
	overflow   : hidden;
}

li
{

	position        : absolute;
	margin-top      : 10px;
	list-style-type : none;
	transition: all 0.2s ease-in;

}

.JS-Carousel
{
	position : relative;
}

.JS-Carousel-Data
{
	display : none;
}

.JS-Carousel-Arrow-Left
{
	position : absolute;
	left     : 0;
	top      : 60px;
	cursor   : pointer;
}

.JS-Carousel-Arrow-Right
{
	position : absolute;
	right    : 0;
	top      : 60px;
	cursor   : pointer;
}
