// ---------------------------------------------------------------------------------------------------------------------
// Grid prototypes
// ---------------------------------------------------------------------------------------------------------------------
%Grid-I-Container
{
    font-size : 0;
}

%Grid-F-Container
{
    @extend %Clearfix;
}

%Grid-Inline
{
    display : inline-block;
}

%Grid-Float
{
    float: left;
}
// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Grid generation
// ---------------------------------------------------------------------------------------------------------------------
$Grid-Prefixes-Count : length($Grid-Prefixes);

@each $Key, $Value in $Grid-Prefixes
{
    @for $Grid-Current-Prefix-Count from 1 to ($Grid-Prefixes-Count + 1)
    {
        @for $i from 1 to $Grid-Prefixes-Count
        {
            @if $i < $Grid-Current-Prefix-Count
            {

                %Grid-I-#{$Key}-#{$i}-#{$Grid-Current-Prefix-Count}
                {

                    @extend %Grid-Inline;
                    @media (min-width : #{$Value}px) {
                        width : 100% / $Grid-Current-Prefix-Count * $i;
                    }

                }

                %Grid-F-#{$Key}-#{$i}-#{$Grid-Current-Prefix-Count}
                {

                    @extend %Grid-Float;
                    @media (min-width : #{$Value}px) {
                        width : 100% / $Grid-Current-Prefix-Count * $i;
                    }

                }
            }
        }
    }
}
// ---------------------------------------------------------------------------------------------------------------------

