// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports: (
  // Phone viewports
        'phone': 0,
        'iphone-4': 320px,
        'iphone-6':375px,
        'nexus-6':412px,
  // Tablet viewports
        'tablet' : 600px,
        'ipad-P' : 768px,
        'ipad-L' : 1024px,
        'ipad-C' : 1100px,
        'ipad-D' : 1200px,
  // Desktop viewports
        'desktop' : 1280px,
        'Laptop' : 1366px,
        'Laptop-1440' : 1440px,
        'Desktop' : 1600px,
        'FHD' : 1920px,
        '2k' : 2560px,
        '4k' : 3840px
) !default;

$Grid-Prefixes : (
         'MS' : '240',
         'ML' : '320',
         'TS' : '480',
         'TL' : '768',
         'DS' : '1024',
         'DL' : '1280'
                 );


$Viewport-Expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$Color-Primary: #3498db;
$Color-Lightgray: #F9F9F9;
$Color-Darkgray: #E9E9E9;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------
