.JS-Slider
{
    position   : relative;
    display    : inline-block;
    width      : 300px;
    height     : 12px;
    margin     : 30px;
    background : #eee;
    cursor     : pointer;

    @at-root .JS-Slider-Handle
    {
        position    : absolute;
        width       : 16px;
        height      : 16px;
        margin-left : -8px;
        top         : -2px;
        left        : -2px;
        background  : #ccc;
        cursor      : pointer;
        transition  : all 0.2s;
    }

    &.Active .JS-Slider-Handle
    {
        transition  : all 0s;
    }
}