<div class="JS-Slider">
    <div class="JS-Slider-Handle"></div>
</div>

<div class="JS-Slider">
    <div class="JS-Slider-Handle"></div>
</div>

<div class="JS-Slider">
    <div class="JS-Slider-Handle"></div>
</div>