<h1>Image Align</h1>

<p>Plugin replace image with background-image. We implemented all possible variants of image proportional behavior.</p>
<h2>Ratio variations</h2>
<ul>
    <li>Fixed proportional ratio;</li>
    <li>Auto proportional ratio;</li>
    <li>Fixed height.</li>
</ul>

<p>You wright this:</p>

<pre><code class="language-html">
    &lt;div class="JS-Image-Align" data-image-ratio='16/7' data-image-position='center/top'&gt;
        &lt;img src="/creative.jpg"&gt;
    &lt;/div&gt;
</code></pre>

<p>And you has background with proportional behavior.</p>

<pre><code class="language-html">
    &lt;div class="JS-Image-Align"
        data-image-ratio='16/7'
        data-image-position='center/top'
        style='height: 455.625px;
        background-image: url(/img/bg/creative.jpg);
        background-size: cover;
        background-position: 50% 0%;'&gt;
    &lt;/div&gt;
</code></pre>

<p>So, example with 16/7 ratio:</p>

<div class="JS-Image-Align" data-image-ratio='16/7' data-image-position='center/top'>
    <img src="/img/bg/creative.jpg">
</div>

<h2>Customisable params</h2>

<pre><code class="language-js">
    data-image-ratio='16/7 | 3/4 | 1/1 | auto' - set the desired proportion
    data-image-position='center | center/bottom | left/top' - set the desired background position
</code></pre>

<p>If you need img behavior set:</p>

<pre><code class="language-js">
    data-image-ratio='auto'
</code></pre>

<p>If you need fixed height, you can set width in html, and remove data-image-ratio param.</p>

<pre><code class="language-css">
    .JS-Image-Align
    {
        height: 200px;
    }
</code></pre>