.Splash
{
	position         : absolute;
	bottom           : 0;
	width            : auto;
	height           : 3px;
	background-color : blue;
	opacity          : 0.3;
	transition       : 0.2s ease-out;
}

.Splash .Animate
{
	opacity : 1;
	left    : 0 !important;
	right   : 0 !important;
}

.Cases-Link .Splash, .Cases-List .Splash
{
	overflow         : visible;
	z-index          : 10;
	height           : 1px;
	background-color : blue;
}

.JS-Ripple-Effect
{
	position : relative;
	overflow : visible;
}