.JS-Article-Carousel
{
	position   : relative;
	overflow   : hidden;
	margin-top : 30px;
	&.Article-Items
	{
		padding : 0;
		@include Adaptive("<=ipad-L")
		{

			padding-left  : 15px;
			padding-right : 15px;

		}

		@include Adaptive("<=ipad-P")
		{
			padding-left  : 0;
			padding-right : 0;
		}

		ul
		{

		}

		.Article-Item
		{
			width : auto;
		}

		.JS-Article-Carousel-Block
		{
			width      : 100%;
			overflow : hidden;
		}

		svg
		{
			display : block;
			width   : 20px;
			height  : 20px;
			fill    : red;
			margin  : auto;

		}
		.JS-Article-Carousel-Prev
		{
			position : absolute;
			left     : -2px;
			z-index  : 2;
			bottom   : 0;
			top      : 0;
			display  : table;
			height   : 100%;
			width    : 40px;
			cursor   : pointer;

			div
			{
				display        : table-cell;
				vertical-align : middle;
			}
		}

		.JS-Article-Carousel-Next
		{
			position : absolute;
			right    : -2px;
			z-index  : 2;
			bottom   : 0;
			top      : 0;
			display  : table;
			height   : 100%;
			width    : 40px;
			cursor   : pointer;

			div
			{
				display        : table-cell;
				vertical-align : middle;
			}
		}
	}

}