// ---------------------------------------------------------------------------------------------------------------------
// Core
// ---------------------------------------------------------------------------------------------------------------------
.JS-Carousel
{
    position: relative;

    @at-root .JS-Carousel-List
    {
        position: relative;
        overflow: hidden;
        width:    100%;

        @at-root .JS-Carousel-Item
        {
            position:   absolute;
            top:        0;
            left:       0;
            width:      100%;

            // Change Animation Type
            transition: 0.5s ease-in;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
// Custom styles
// ---------------------------------------------------------------------------------------------------------------------
.JS-Carousel
{
    width:      100%;
    height:     320px;
    margin:     20px auto;
    padding:    0;
    text-align: center;

    @at-root .JS-Carousel-List
    {
        margin:     0 auto;
        padding:    0;
        height:     100%;

        text-align: center;
        list-style: none;

        @at-root .JS-Carousel-Item
        {

            padding:             10px;
            box-sizing:          border-box;
            background-position: center;
            background-size:     cover;
            span
            {
                display:    block;
                height:     100%;

                background: #aaa;
            }
        }
    }

    @at-root .JS-Carousel-Next,.JS-Carousel-Previous
    {
        position:  absolute;
        cursor:    pointer;
        font-size: 60px;
        top:       calc(50% - 30px);

        color:     #fff;
        &:hover
        {
            color: #3498DB;
            transition: color 0.2s;
        }

        &.JS-Carousel-Previous
        {
            left: 40px;
        }

        &.JS-Carousel-Next
        {
            right: 40px;
        }
    }

    @at-root .JS-Carousel-Navigation
    {
        position:   absolute;
        width:      100%;
        bottom:     10px;
        padding:    0;

        text-align: center;
        list-style: none;

        li
        {
            display:       inline-block;
            height:        15px;
            width:         15px;
            margin:        10px;

            background:    #eee;
            border-radius: 100%;
            cursor:        pointer;

            &.Active
            {
                border:     2px solid #fff;
                background: #3498DB;
            }
            &:hover
            {
                background: #3498DB;
                transition: background 0.2s;
            }
        }
    }
}

.Mountains
{

}




