<h1>Carousel</h1>

<h2># Default settings</h2>
<pre><code class="language-js">List: this.find('.JS-Carousel-List'),
Item: '.JS-Carousel-Item',
Next: $('&lt;div/&gt;', {class: 'JS-Carousel-Next', text: '>'}),
Previous: $('&lt;div/&gt;', {class: 'JS-Carousel-Previous', text: '<'}),
Navigation: $('&lt;ul/&gt;', {class: 'JS-Carousel-Navigation'}),
Navigation_Item: $('&lt;li&gt;', {class: 'JS-Carousel-Navigation-Item'}),
Effect: 'slide', // fade | slide | rotate | scale
Height: 'none', // no | parent | screen
Autoscroll: false,
Index: 0,
Range: 1,
Shift: 1,
Arrows_Active: true,
Navigation_Active: true,
Swipe_Active: true
</code></pre>
<p>Standard HTML Structure.</p>
<p>You should only create your items for carousel. Navigation created automatic by plugin,
   but you can customize it when you will init carousel.</p>
<pre><code class="language-js">&ltdiv class="JS-Carousel"&gt
    &ltul class="JS-Carousel-List"&gt
    &ltli class="JS-Carousel-Item"&gt1&lt/li&gt
    &ltli class="JS-Carousel-Item"&gt2&lt/li&gt
    &lt/ul&gt
&lt/div&gt
</code></pre>

<p>Styles needed for the Carousel.</p>
<pre><code class="language-css">.JS-Carousel
{
    position: relative;

    @at-root .JS-Carousel-List
    {
        position: relative;
        overflow: hidden;
        width:    100%;

        @at-root .JS-Carousel-Item
        {
            position:   absolute;
            top:        0;
            left:       0;
            width:      100%;
            height:     100%;

            // Change Animation Type
            transition: 0.5s ease-in;
        }
    }
}</code></pre>

<h2># Standard</h2>
<p>Default carousel state with enabled Autoscroll and scale effect mode:</p>
<div class="JS-Carousel Mountains">
    <ul class="JS-Carousel-List">
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-1.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-2.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-3.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-4.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-5.jpg)"></li>
    </ul>
</div>

<pre><code class="language-js">
    $('.Mountains').JS_Easy_Carousel({
        Autoscroll: 2000,
        Effect: 'scale'
    });
</code></pre>

<script>
    $('.Mountains').JS_Easy_Carousel({
        Autoscroll: 2000,
        Effect: 'scale'
    });
</script>

<p>If you want to off animations remove transition from css:</p>
<pre><code class="language-css">.JS-Carousel-Item{
    transition: 0s;
 }</code></pre>


<h2># Sets</h2>
<p>Circle carousel example:</p>
<div class="JS-Carousel Mountains-Sets">
    <ul class="JS-Carousel-List">
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-1.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-2.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-3.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-4.jpg)"></li>
        <li class="JS-Carousel-Item" style="background-image: url(/img/bg/mount-5.jpg)"></li>
    </ul>
</div>

<pre><code class="language-js">$('.Mountains-Sets').JS_Easy_Carousel({
    Effect: 'slide',
    Range: 4,
    Shift: 1,
    Media: {
        Adaptive_0_800: {
            Index: 0,
            Range: 1,
            Shift: 1
        },
        Adaptive_801_1200: {
            Index: 0,
            Range: 3,
            Shift: 2
        }
    }
});</code></pre>

<script>
    $(document).ready(function () {
        $('.Mountains-Sets').JS_Easy_Carousel({
            Effect: 'slide',
            Range: 4,
            Shift: 1,
            Media: {
                Adaptive_0_800: {
                    Index: 0,
                    Range: 1,
                    Shift: 1
                },
                Adaptive_801_1200: {
                    Index: 0,
                    Range: 3,
                    Shift: 2
                }
            }
        });
    });
</script>