body
{
    font-family:      'Open Sans', sans-serif;
    font-weight:      300;

    background-color: #e9e9e9;
}

main
{
    max-width:  1150px;
    min-height: 100vh;
    margin:     0 auto;
    background: #fff;
}

img
{
    width: 100%;
}

::-webkit-scrollbar
{
    width:  14px;
    height: 5px;
}

::-webkit-scrollbar-track
{
    background-color: $Color-Lightgray;
}

::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}

