<h1>Count Down</h1>
<div class="JS-Countdown" data-countdown="20 July 2016 00:00:00"></div>

<style>
    .JS-Countdown
    {
        display: inline-block;

    }

    .JS-Countdown div
    {
        display: inline-block;
        padding: 5px;
    }

    .JS-Countdown > div
    {

        background:   #3498db;
        margin-right: 20px;
        color:        white;
        padding:      10px;
    }
</style>