<script src="../dependencies/jquery.min.js"></script>
<script src="../data.menu.js"></script>
<script src="../dependencies/jquery.actual.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>



<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        margin-top: 100px;
    }

    .Script-Menu{
        width: 300px;
        vertical-align: top;
        display: inline-block;
    }
    .Menu-Button{
        padding: 10px;
        border: 1px solid black;
    }
    .Menu-List{
        display: none;
        height: 0;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        overflow-y: scroll;
        transition: height 0.2s linear;
    }

    .Item-List-Active{
        background: blue;
    }



</style>




<div class="Script-Menu">
    <div class="Menu-Button" data-height-menu="6">
        <span>Click Here</span>
    </div>
    <div class="Menu-List">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
        </ul>
    </div>
</div>




<div class="Script-Menu">
    <div class="Menu-Button" data-height-menu="2">
        <span>Click Here</span>
    </div>
    <div class="Menu-List">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
        </ul>
    </div>
</div>




<div class="Script-Menu">
    <div class="Menu-Button" data-height-menu="5">
        <span>Click Here</span>
    </div>
    <div class="Menu-List">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
        </ul>
    </div>
</div>

