<script src="../dependencies/jquery.min.js"></script>
<script src="../data.scroll-top.js"></script>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .Blocks{
        width: 100%;
        height: 1000px;
        text-align: center;

    }

    .JS-Scroll-Top-Button{
       margin: 0 auto;
        border: 1px solid black;
        padding: 10px;
        width: 100px;
    }

</style>


<div class="Blocks">
    <span>Block 1</span>
</div>



<div data-scroll-duration='3000' class="JS-Scroll-Top-Button">
    <span>Scroll Top</span>
</div>

