<script src="../dependencies/jquery.min.js"></script>
<script src="../data.scroll-on-button.js"></script>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .JS-Block-Scroll{
        width: 100%;
        height: 1000px;
        text-align: center;
        margin-top: 1000px;
    }

    a{
        display: inline-block;
        border: 1px solid black;
        padding: 10px;
    }

</style>




<a class="JS-Scroll-Button" href="#Block" data-scroll-duration="4000">Scroll to Block 1</a>
<div id="Block" class="JS-Block-Scroll">Block</div>

