<meta charset="UTF-8">
<link rel="stylesheet" href="../css/data.modal.css">

<div class='JS-Modal' id='Modal-100'>
    <div class='JS-Modal-Box'>
        <div class='JS-Modal-Close'>×</div>
        Some Content 1
    </div>
</div>

<div class='JS-Modal' id='Modal-101'>
    <div class='JS-Modal-Box'>
        <div class='JS-Modal-Close'>×</div>
        Some Content 2
    </div>
</div>

<button class="JS-Modal-Button" data-modal-id="Modal-100">Show Modal-100</button>
<button class="JS-Modal-Button" data-modal-id="Modal-101">Show Modal-101</button>


<script src="../dependencies/jquery.min.js"></script>
<script src="../data.modal.js"></script>