<h1>FORM</h1>

<pre><code class="language-html">&lt;form class='JS-Form'
                 data-form-email='onevanivan1@gmail.com'
                 data-form-subject='Order form website'
                 data-form-url='./plugins/form/data.form.php'
                 data-form-method='POST'&gt;
    &lt;input type='text' name='name' data-input-title='Your first name'&gt;
    &lt;input class='JS-Form-Numeric' type='text' name='phone' data-input-title='Your telephone number'&gt;
    &lt;input class='JS-Form-Email' type='text' name='email' data-input-title='Your e-mail'&gt;
    &lt;textarea name='message' data-input-title='Your e-mail'&gt;&lt;/textarea&gt;
    &lt;button class='JS-Form-Button'&gt;&lt;/button&gt;
    &lt;div class="JS-Form-Result"&gt;&lt;/div&gt;
&lt;/form&gt;</code></pre>


<form class='JS-Form'
      data-form-email='onevanivan1@gmail.com'
      data-form-subject='Order form website'
      data-form-url='./plugins/form/data.form.php'
      data-form-method='POST'>
    <input type='text' name='name' data-input-title='Your first name'>
    <input class='JS-Form-Numeric' type='text' name='phone' data-input-title='Your telephone number'>
    <input class='JS-Form-Email' type='text' name='email' data-input-title='Your e-mail'>
    <textarea name='message' data-input-title='Your e-mail'></textarea>
    <button class='JS-Form-Button'></button>
    <div class="JS-Form-Result"></div>
</form>


