.JS-Window-Blackout
{
    visibility:       hidden;
    position:         fixed;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;

    background-color: rgba(0, 0, 0, .3);
    transition:       all 0.7s ease;
    perspective:      3000px;

    .JS-Window
    {
        visibility:       hidden;
        position:         absolute;
        overflow-y:       auto;
        overflow-x:       hidden;
        width:            80%;
        height:           50%;

        top:              25%;
        bottom:           25%;
        left:             10%;
        right:            10%;

        box-sizing:       border-box;

        margin:           0 auto;
        padding:          40px;

        background-color: #eee;
        transition:       all 0.7s ease;
        transform:        rotateX(90deg);

        .JS-Window-Close
        {
            position:  absolute;
            width:     25px;
            top:       10px;
            right:     10px;
            font-size: 36px;
            cursor:    pointer;
        }
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;

        .JS-Window
        {
            visibility: visible;
            opacity:    1;
            transform:  rotateX(0deg);
            transition: all 0.7s ease;
        }
    }

}