<script src="/plugins/carousel/jquery.carousel.js"></script>
<link rel="stylesheet" href="/plugins/carousel/carousel.min.css">

<h1>Window</h1>

<p>Plugin will create new window with content.</p>
<button class='JS-Window-Button' data-window-iframe='http://bunker-lab.com/'>Show window with content</button>

<p>You should create only button.</p>
<pre><code class="language-html">
    &lt;button class='JS-Window-Button' data-window-iframe='http://bunker-lab.com/'&gt;
        Show window with content
    &lt;/button&gt;
</code></pre>


<p>You can create window with img:</p>

<button class='JS-Window-Button' data-window-img='/img/bg/creative.jpg'>Show window with img</button>

<pre><code class="language-html">
    &lt;button class='JS-Window-Button' data-window-img='/img/bg/creative.jpg'&gt;
        Show window with content
    &lt;/button&gt;
</code></pre>


<p>You can create carousel:</p>

<button class='JS-Window-Button' data-window-carousel='.Item-Image'>Show window with carousel</button>
<div style="display: none;">
    <img class="Item-Image" src="/img/bg/winter-3.jpg" alt="">
    <img class="Item-Image" src="/img/bg/winter-4.jpg" alt="">
    <img class="Item-Image" src="/img/bg/winter-5.jpg" alt="">
</div>


<pre><code class="language-html">
    &lt;button class='JS-Window-Button' data-window-carousel='.Item-Image'&gt;
        Show window with content
    &lt;/button&gt;
</code></pre>


<p>You can use this content by use of data-params:</p>

<pre><code class="language-js">
    data-window-iframe='http://bunker-lab.com/'
    data-window-img='/img/bg/creative.jpg'
    data-window-carousel='.Item-Image'
</code></pre>

<script src="/plugins/image-align/jquery.image-align.js"></script>

<style>
    .JS-Carousel-Window
    {
        height: 100%;
    }

    .JS-Carousel-Navigation
    {
        position: relative;
        bottom:   40px;
    }

    .JS-Carousel-Window .JS-Carousel-Next
    {
        right: 60px;
    }

    .JS-Carousel-Window .JS-Carousel-Previous
    {
        left: 60px;
    }
</style>