.Content
{
    display:        inline-block;
    vertical-align: top;
    width:          100%;
    padding:        20px;

    @include Adaptive('>tablet')
    {
        padding: 40px;
    }

    @include Adaptive('>ipad-P')
    {
        width: calc(100% - 260px);
    }

    h1
    {
        padding-bottom: 20px;
        margin-bottom:  20px;
        font-size:      32px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight:    300;
        color:          #565656;
        border-bottom:  1px solid #eee;

        @include Adaptive('>ipad-P')
        {
            padding-bottom: 40px;
            margin-bottom:  40px;
            font-size:      42px;
        }
    }

    h2
    {
        margin-top:     20px;
        margin-bottom:  20px;
        font-size:      20px;
        text-transform: uppercase;
        font-weight:    400;
        color:          #565656;

        @include Adaptive('>ipad-P')
        {
            font-size: 24px;
        }
    }

    p, li
    {
        margin-bottom: 5px;

        color:         #444;
        font-size:     13px;
        line-height:   22px;
        font-weight:   400;
    }

    ul
    {
        margin-bottom: 20px;
    }
    li
    {
        margin-left: 20px;
        line-height: 18px;
        list-style:  circle;
    }

    pre
    {
        margin-top:    20px;
        margin-bottom: 20px;
    }
    code
    {
        font-size: 13px;
        span
        {
            line-height: 22px;
        }
    }

    button
    {
        display:         inline-block;
        margin:          10px 0;
        padding:         10px 20px;

        background:      #eee;
        outline:         none;
        border:          none;

        text-decoration: none;
        font-size:       16px;
        color:           $Color-Primary;
        cursor:          pointer;
        transition:      0.5s;

        &:hover
        {
            background: $Color-Primary;
            color:      white;
        }
    }
}

iframe
{
    width:   100%;
    height:  100%;
    display: block;
}

