.Footer
{
    width:      100%;
    background: $Color-Primary;
    //border-top: 4px solid $Color-Primary;

    @at-root .Footer-Wrapper
    {
        max-width:  1200px;
        margin:     0% auto;
        text-align: center;
    }
    @at-root .Footer-Menu
    {
        text-align:     center;
        padding-top:    20px;
        padding-bottom: 20px;
        @at-root .Footer-Menu-Item
        {
            display: inline-block;
            padding: 15px;
            a
            {
                font-size:       16px;
                text-transform:  uppercase;
                color:           white;
                text-decoration: none;
            }
        }
    }
    @at-root .Footer-Slogan
    {
        text-align:     center;
        font-size:      14px;
        letter-spacing: 1px;
        padding-bottom: 20px;
        color: white;
    }

    @at-root .Footer-Copyright
    {
        text-align:     center;
        font-size:      12px;
        padding-bottom: 40px;
        color:          #eee;
        a
        {
            color: white;
            text-decoration: none;
        }
    }

}