// ---------------------------------------------------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------------------------------------------------

.Header
{
    height:           90px;
    border-bottom:    1px solid #ddd;
    background-color: $Color-Primary;

    @at-root .Header-Wrapper
    {
        height:    100%;
        max-width: 1200px;
        margin:    0 auto;
        padding:   0 20px;
        @include Adaptive('>tablet')
        {
            padding: 0 40px;
        }

        @include Adaptive('>ipad-D')
        {
            padding: 0;
        }
    }

    @at-root .Header-Logo
    {
        display:        table;

        height:         100%;
        letter-spacing: 1px;
        font-size:      18px;
        cursor:         pointer;

        @at-root .Header-Logo-Image
        {
            display:        table-cell;
            vertical-align: middle;
            padding-right:  15px;

            svg
            {
                width:            40px;
                height:           40px;
                background-color: white;
                border-radius:    100%;
                padding:          7px;
                fill:             $Color-Primary;
            }
        }

        @at-root .Header-Logo-Text
        {
            display:        none;
            vertical-align: middle;
            color:          white;
            font-weight:    400;

            @include Adaptive('>tablet')
            {
                display: table-cell;
            }
        }
    }

    @at-root .Header-Menu
    {
        display:        none;
        vertical-align: middle;
        float:          right;
        height:         100%;

        @include Adaptive('>280px')
        {
            display: table;
        }

        @at-root .Header-Menu-Item
        {
            display:        table-cell;
            vertical-align: middle;
            padding-left:   20px;

            &:first-of-type
            {
                padding-left: 0;
            }

            @include Adaptive('>tablet')
            {
                padding-left: 30px;
            }

            &.Active
            {
                font-weight: 600;
            }

            > a
            {
                font-size:       14px;
                text-transform:  uppercase;
                color:           white;
                text-decoration: none;
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
// Header Animation
// ---------------------------------------------------------------------------------------------------------------------

#Routine-Logo, #Routine-Logo-3, #Routine-Logo-2
{
    animation-delay:    0.2s;
    animation-duration: 0.8s;
    transition:         0.8s;
}

#Routine-Logo
{
    animation-name:     Logo;
    perspective-origin: 3000px;
    perspective:        3000px;
}

#Routine-Logo-3
{
    animation-name:   Logo-Part-1;
    transform-origin: top right;
}

#Routine-Logo-2
{
    animation-name:   Logo-Part-2;
    transform-origin: center;
}

.Header-Logo:hover
{
    #Routine-Logo
    {
        animation-name:  Logo-Revert;
        animation-delay: 0s;
    }

    #Routine-Logo-3
    {
        animation-name:  Logo-Part-1-Revert;
        animation-delay: 0s;
    }

    #Routine-Logo-2
    {
        animation-name:  Logo-Part-2-Revert;
        animation-delay: 0s;
    }
}

@keyframes Logo
{
    from
    {
        transform: translate(0px, 0px);
    }
    to
    {
        transform: translate(-8px, 8px);
    }
}

@keyframes Logo-Revert
{
    from
    {
        transform: translate(-8px, 8px);
    }
    to
    {
        transform: translate(0px, 0px);
    }
}

@keyframes Logo-Part-1
{
    0%
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    50%, 100%
    {
        transform: rotate3d(1, 1, 0, 180deg) translate(-1px, 1px);
    }
}

@keyframes Logo-Part-1-Revert
{
    0%
    {
        transform: rotate3d(1, 1, 0, 180deg) translate(-1px, 1px);
    }
    100%
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes Logo-Part-2
{
    0%
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100%
    {
        transform: rotate3d(1, 1, 0, 180deg) translate(-1px, 1px);
    }
}

@keyframes Logo-Part-2-Revert
{
    0%
    {
        transform: rotate3d(1, 1, 0, 180deg) translate(-1px, 1px);
    }
    50%, 100%
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}


