.Navbar
{
    display:        inline-block;
    vertical-align: top;
    width:          100%;
    height:         100%;
    padding:        20px;
    border-right:   1px solid #eee;


    @include Adaptive('>tablet')
    {
        padding: 40px;
    }

    @include Adaptive('>ipad-P')
    {
        width: 250px;
        float: left;
    }

    @at-root .Navbar-List
    {
        font-size:      16px;
        font-weight:    400;
        text-transform: uppercase;
        h4
        {
            margin-bottom:  15px;
            padding-bottom: 15px;
            border-bottom:  1px dashed #ddd;
        }
    }

    @at-root .Navbar-Sublist
    {
        font-size:      13px;
        text-transform: none;
        li
        {
            padding-bottom: 10px;
            a
            {
                color: #0274C1;
            }
            &.Active a
            {
                color:       #636363;
                font-weight: 600;
            }
        }

        li:last-of-type
        {
            margin-bottom: 30px;
        }
    }

    a
    {
        text-decoration: none;
        color:           black;
    }
}