.Header-Links-Wrap
{
	position         : absolute;
	height           : 100%;
	width            : 0;
	transition       : all ease-out .2s;
	z-index          : 10;
	left             : 0;
	bottom           : 0;
	top              : 0;
	background-color : rgba(34, 34, 34, 0.902);
	will-change      : width;
}

.Hidden-Nav
{
	transition : all ease-out .2s;
	width      : 100%;
	will-change      : width;
}




/*@at-root .Hamburger*/
/*{*/
/*position         : relative;*/
/*width            : 45px;*/
/*height           : 28px;*/
/*cursor           : pointer;*/
/*margin-right     : 2 * $CW - 8;*/
/*margin-left      : auto;*/
/*will-change      : translate, rotate;*/

/*z-index          : 1;*/
/*transition-delay : 0.4s;*/
/*li*/
/*{*/
/*@extend %Unselectable;*/
/*position      : absolute;*/
/*left          : 0;*/
/*right         : 0;*/
/*height        : 6px;*/
/*background    : #000;*/
/*border-radius : 4px;*/
/*transition    : opacity linear .3s;*/
/*cursor        : pointer;*/

/*&:nth-of-type(1)*/
/*{*/
/*top        : 0;*/
/*transition : all .2s ease-out;*/
/*}*/
/*&:nth-of-type(2)*/
/*{*/
/*opacity    : 1;*/
/*top        : calc(50% - 3px);*/
/*transition : opacity linear .1s;*/
/*}*/
/*&:nth-of-type(3)*/
/*{*/
/*bottom     : 0;*/
/*transition : all .2s ease-out;*/
/*}*/
/*}*/

/*@at-root .Hamburger-Close*/
/*{*/

/*li*/
/*{*/
/*transition : transform ease-out .3s;*/
/*}*/

/*li:nth-of-type(1)*/
/*{*/
/*transition       : all .2s ease-out;*/
/*transform        : rotate(-45deg) translate(-9px, 8px);*/
/*transform-origin : center center;*/
/*}*/

/*li:nth-of-type(2)*/
/*{*/
/*opacity    : 0;*/
/*transition : opacity linear .1s .01s;*/
/*}*/

/*li:nth-of-type(3)*/
/*{*/
/*transition       : all .2s ease-out;*/
/*transform        : rotate(45deg) translate(-7px, -7px);*/
/*transform-origin : center center;*/
/*}*/

/*}*/

/*@include Adaptive('>=TS')*/
/*{*/
/*display : none;*/
/*}*/
/*}*/