.Splash
{
	border-radius    : 50%;
	position         : absolute;
	width            : 10px;
	height           : 10px;
	background-color : red;
	animation        : ripple-animation 1s;
}

.JS-TouchButton
{
	position : relative;
	overflow : hidden;
}

@keyframes ripple-animation
{
	from
	{
		transform : scale(1);
		opacity   : 0.4;
	}
	to
	{
		transform : scale(20);
		opacity   : 0;
	}
}